<launch>

  <node pkg="ubr_calibration" type="calibrate" name="capture"
        args="$(find ubr_calibration)/launch/calibration_poses.bag"
        output="screen" required="true">
  </node>

  <node pkg="rosbag" type="record" name="calibration_bagger" output="screen"
        args="--bz2 -o /tmp/ubr_calibration/calibration_data calibration_data robot_description" >
    <param name="mkdir_tmp" command="mkdir -m 777 -p /tmp/ubr_calibration" />
  </node>
  
</launch>
